body{
    background-color: rgb(255, 255, 255);
}

.Parrafo{
    font-size: 80px;
    color: rgb(66, 94, 215);
    }

#principal{
    font-size: 70px;
    color: darkcyan;
}

.portada{
    width: 1600px;
}

#principal1{
    font-size: 50px;
    color: rgb(0, 139, 83)
}

#principal2{
    font-size: 50px;
    color: rgb(139, 74, 0)
}

h1{
font-size: 90px;
color: rgb(98, 32, 32);
}

h2{
    font-size: 60px;
    color: rgb(84, 160, 46);
}

h2{
    background-color: rgb(255, 255, 255);
}

.secundario{
    font-size: 40px;
    color:rgb(117, 177, 97)
}

h3{
    font-size: 60px;
    color: rgb(90, 90, 27);
}

.terciario{
    font-size: 40px;
    color: navajowhite;
}

